* {
    cursor: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eaeaea;
    /* #dadada */
}

.cursor {
    height: 0.5em;
    width: 0.5em;
    background-color: transparent;
    border: 1px solid #000033;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    pointer-events: none;
    z-index: 3;
}
  
.cursor-trail {
    height: 1.5em;
    width: 1.5em;
    background-color: #acb884;
    border: 1.5px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    pointer-events: none;
    z-index: 2;
}

.main {
    margin-left: 15%;
    margin-right: 2%;
    padding-left: 1.5%;
    background-image: url("../images/bckground-image.png");
    background-repeat: no-repeat;
    background-position: right top; /* option: right top */
    background-attachment: scroll; 
}

h2, h3, h5, h6, p, small {
    color: #000033;
}

/* .nav-img {
    background-image: url("../images/nav-design.png");
    background-repeat: no-repeat;
    background-position: initial;
    background-size: contain;
} */

/* navigation */
.navbar {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: inline-block;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    --bs-navbar-color: #f2ebd7;;
    color: #f2ebd7;
    background-color: #1a1a1a;
} 

.initial-header {
    font-size: 1.5rem;
}

/* for image */
/* .main-img {
    margin-right: 2%;
    margin-bottom: 5%;
    border-radius: 80%;
} */

.navbar a {
    padding: 6px;
}

.navbar a:hover {
    color: #acb884;
}

.initials {
    font-style: italic;
    color: #acb884;
    text-decoration: none;
}

.initial {
    text-decoration: underline;
}

/* rotating text */
.rotate {
    overflow: hidden;
}

.rotate-wds {
    display: block;
    height: 100%;
    color: #acb884;
    animation: rotate_words 15s infinite;
}

.feature {
    width: 100%;
    height: 100px;
    display: flex;
    padding: 5px 5px;
    padding-left: 0;
    opacity: 1;
    border-radius: 8px;
}

@keyframes rotate_words{
10% {
    transform: translateY(-75%);
}
25% {
    transform: translateY(-79%);
}
35% {
    transform: translateY(-176%);
}
50% {
    transform: translateY(-180%);
}
60% {
    transform: translateY(-275%);
}
75% {
    transform: translateY(-280%);
}
85% {
    transform: translateY(-373%);
}
100% {
      transform: translateY(-380%);
}
    
}

#home span {
    font-size: 1.25em;
}

/* about */
.about span {
    color: #acb884;  
}

.about-para {
    margin-right: 10%;
}

.about-para a {
    text-decoration-color: #acb884;
    color: #000033; 
}

.about-icon {
    font-size: 0.75em;
    color: #acb884;
    line-height: .5;
}

.resume {
    text-decoration: none;
    color: #000033;;
}

.resume:hover {
    color: black;
}

.resume-icon {
    font-size: 0.75em;
    color: #acb884;
}

#about span {
    color: #acb884;
    font-size: 1.5em;
}

#about-period {
    font-size: 1.5em;
}

.education div {
    display: inline-block;
    margin-right: 7%;
}

/* portfolio */
.card {
    border: 1px solid #dfa36d;
}

#portfolio span {
    color: #dfa36d;
    font-size: 1.5em;
}

#portfolio .container {
    --bs-gutter-x: 0;
}

.img-project {
    border: 3px double #dfa36d;
    border-radius: 30px;
    filter: grayscale(90%);
}

.img-project:hover {
    filter: none;
}

.icon-projects {
    margin-top: 10px;
}

.icon-projects a:hover {
    color: #dfa36d;
}


/* skills */
#skills span {
    color: #ffd07b;
    font-size: 1.5em;
}

.skills p {
    margin-right: 10%;
}

.icons img {
    margin: 2%;
}

.progress-skills {
    width: 500px;
    color: black;
}
  
.progress-skills li {
    margin: 20px 0;
    list-style: none;
}
  
.bar {
    display: block;
    height: 5px;
    border: 1px solid #ffd07b;
    border-radius: 5px;
    box-shadow: 0 0 3px #7155b8;
}
  
/* #e27bff
   */
  
.bar span {
    height: 4px;
    /* margin-top: 0.5px; */
    float: left;
    background: #ffd07b;
}
  
.html {
    width: 85%;
    animation: html 5s infinite;
}
  
.css {
    width: 70%;
    animation: css 5s infinite;
}
  
.javascript {
    width: 50%;
     animation: javascript 5s infinite;
}
  
@keyframes html {
    0% {
      width: 0%;
}
    100% {
      width: 80%;
}
}
  
@keyframes css {
    0% {
      width: 0%;
}
    100% {
      width: 70%;
}
}
  
@keyframes javascript {
    0% {
      width: 0%;
}
    100% {
      width: 50%;
}
}

/* contact */
#contact span {
    color: #5bc0de;
    font-size: 1.5em;
}

.contact-form {
    margin-right: 15%;
}

#contact ul {
display: flex;
list-style-type: none;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
-webkit-padding-start: 0px; 
}

#contact li {
    margin-top: 10px;
    padding-right: 70px;
    font-size: 1.3em;
}

#contact a {
    text-decoration: none;
    color: #5bc0de;
}

#contact .form-control {
    border: none;
    border-bottom: 1px solid #5bc0de;
}

.btn-outline-dark {
    --bs-btn-hover-bg: #5bc0de;
    --bs-btn-border-color: #5bc0de;
}

.email {
    text-decoration: underline;
    text-decoration-color: #5bc0de;
}
/* artwork */

#artwork {
    margin-top: 5%;
}

#artwork span {
    font-size: 1.25em;
}

.artwork p {
    margin-right: 20%;
}

#embroidery span {
    font-size: 1.25em;
}

.artpics {
    transform: scale(1.2, 1.2);
}

/* scroll button */
#btn-scroll {
    position: fixed;
    bottom: 15px;
    right: 20px;
    display: none;
    --bs-btn-bg: #1a1a1a;
    --bs-btn-hover-bg: #acb884;
    --bs-btn-hover-border-color: #f2ebd7;
  }

  .scroll-arrow {
    color: #f2ebd7;
  }
