.main {
    margin-left: 15%;
    margin-right: 2%;
    padding-left: 1.5%;
    background-image: url("../images/nav-design.png");
    background-repeat: no-repeat;
    background-position: right top; /*option: right center*/
    background-attachment: scroll;
}

/* .nav-img {
    background-image: url("../images/nav-design.png");
    background-repeat: no-repeat;
    background-position: initial;
    background-size: contain;
} */

/* navigation */

.navbar {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: inline-block;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    --bs-navbar-color: #f2ebd7;;
    color: #f2ebd7;
    background-color: #1a1a1a;
} 

.navbar a {
    padding: 6px;
}

.navbar a:hover {
    color: #acb884;
}

.initials {
    font-style: italic;
    color: #acb884;
    text-decoration: none;
}

.initial {
    text-decoration: underline;
}

/* rotating text */

.rotate {
    overflow: hidden;
}

.rotate-wds {
    display: block;
    height: 100%;
    color: #acb884;
    animation: rotate_words 15s infinite;
}

.feature {
    width: 100%;
    height: 100px;
    display: flex;
    padding: 5px 5px;
    padding-left: 0;
    opacity: 1;
    border-radius: 8px;
}

@keyframes rotate_words{
10% {
    transform: translateY(-75%);
}
25% {
    transform: translateY(-79%);
}
35% {
    transform: translateY(-176%);
}
50% {
    transform: translateY(-180%);
}
60% {
    transform: translateY(-275%);
}
75% {
    transform: translateY(-280%);
}
85% {
    transform: translateY(-373%);
}
100% {
      transform: translateY(-380%);
}
    
}

/* about */

.about p {
    margin-right: 15%;
}

.about-icon {
    font-size: 0.75em;
    color: #acb884;
    line-height: .5;
}

.btn-outline-dark {
    --bs-btn-hover-bg: #acb884;
}

.resume {
    text-decoration: none;
    color: #acb884;
}

/* skills */
.skills p {
    margin-right: 15%;
}

.icons img {
    margin: 2%;
}

/* portfolio */

.card {
    border: 1px solid #ffd07b;
}

/* contact */

#contact li {
    list-style: none;
    margin: 35px;
}

#contact a {
    text-decoration: none;
    color: #5bc0de;
}

#contact .form-control {
    border: none;
    border-bottom: 1px solid #5bc0de;
}

.contact-icon {
    color: #5bc0de;
}

/* artwork */

#artwork {
    margin-top: 5%;
}

.artwork p {
    margin-right: 15%;
}