.main {
    margin-left: 15%;
}

/* navigation */
.navbar {
    height: 75%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: inline-block;
    padding-top: 1%;
    padding-left: 1%;
}


